@theme {
  --radius-*: initial;
  --radius-0: 0;
  --radius-px: 1px;
  --radius-1: 0.25rem;
  --radius-2: 0.5rem;
  --radius-3: 0.75rem;
  --radius-4: 1rem;
  --radius-5: 1.25rem;
  --radius-6: 1.5rem;
  --radius-7: 1.75rem;
  --radius-8: 2rem;
  --radius-9: 2.25rem;
  --radius-10: 2.5rem;
  --radius-11: 2.75rem;
  --radius-12: 3rem;
  --radius-14: 3.5rem;
  --radius-16: 4rem;
  --radius-20: 5rem;
  --radius-24: 6rem;
  --radius-28: 7rem;
  --radius-32: 8rem;
  --radius-36: 9rem;
  --radius-40: 10rem;
  --radius-44: 11rem;
  --radius-48: 12rem;
  --radius-52: 13rem;
  --radius-56: 14rem;
  --radius-60: 15rem;
  --radius-64: 16rem;
  --radius-68: 17rem;
  --radius-72: 18rem;
  --radius-76: 19rem;
  --radius-80: 20rem;
  --radius-84: 21rem;
  --radius-88: 22rem;
  --radius-92: 23rem;
  --radius-96: 24rem;
  --radius-100: 25rem;
  --radius-104: 26rem;
  --radius-108: 27rem;
  --radius-112: 28rem;
  --radius-116: 29rem;
  --radius-120: 30rem;
}
